.main__img {
    width: 34rem;
    max-width: 100%;
}

body {
    background-color: var(--cor-14);
}

.main {
    background-color: var(--cor-12);
}

.header {
    background-color: var(--cor-13);
}