.main__img {
    width: 34rem;
    max-width: 100%;
}

body {
    background-color: var(--cor-19);
}

.main {
    background-color: var(--cor-18);
}

.header {
    background-color: var(--cor-20);
}